name: ci 
on:
  push:
    branches: [main]
  schedule:
    # Runs "at 03:18 UTC every Saturday" (see https://crontab.guru)
    - cron: '18 3 * * SAT'
permissions:
  contents: write
env:
  GO_VERSION: 1.25.x
  PYTHON_VERSION: 3.x
  MKDOCS_MATERIAL_VERSION: 9.6.17
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Build Go
        run: go build -v ./...
      - name: Test Go
        run: go test -v ./...
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: Build Go
        run: go build -v ./...
      - name: Run Go
        run: go run .
      - name: Clean Go
        run: go clean
      - name: Auto-commit
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: Automated update
          add_options: '--all'
  deploy:
    needs: [test, build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - name: Deploy website
        run: |
          pip install mkdocs-material==${{ env.MKDOCS_MATERIAL_VERSION }}
          mkdocs gh-deploy --force
